* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    font-weight: 400;
    font-size: 100%;
}

html {
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #0B1D40;
    height: 100%;
}

header {
     padding: 2em 1em;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav > div a + a {
    margin-left: 1em;
}

header > nav > a:first-child {
    font-size: 1.25em;
    text-decoration: none;
    font-weight: 800;
}

a {
    color: inherit;
}

a:hover {
    text-decoration: none;
}

.content {
    margin: 1em;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100%;
}

.hero h1 {
    font-weight: 700;
    font-size: 1.5em;
    margin-bottom: .5em;
}

.hero form {
    display: flex;
    flex-direction: column;
    width: min(400px, 70%);
}

.hero label {
    font-size: .8750em;
    letter-spacing: .25px;
}

.hero input[type=tel],
.hero input[type=password]  {
    margin: .4em 0 .2em 0;
    padding: 1em;
    background: #eeeeee;
    border-bottom: 1px solid #0B1D40;
    font-family: inherit;
    font-size: 16px;
    letter-spacing: .15px;
}

.hero br {
    margin: .5em 0;
}

.hero > .row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2rem;
}

.hero .btn {
    padding: 1rem;
    background: #0B1D40;
    color: #fff;
    font-weight: 500;
    transition: ease-in-out all .2s;
    font-size: .8750em;
}

.hero .btn:hover {
    background: rgba(11, 29, 64, 0.9);
}

input:focus {
    outline: none !important;
}

footer {
    position: fixed;
    bottom: 1em;
    padding: 1em;
}